.dayDate,
.dayCellEvent,
.dayCellEventWrapper,
.dayEventsRemaining {
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .rbc-toolbar {
    display: grid !important;
  }
  .rbc-btn-group {
    margin: auto;
  }
}
