.profile {
  border: 1px solid #e5e4e4;
  padding-block: 20px;
  margin-bottom: 20px;
}

.user-img {
  width: calc(2.5rem + 1vw);
  height: auto;
  background: #ebebeb;
  border-radius: 100%;
  margin-right: 5%;
}

.profile section {
  margin: 20px;
}

.profile .posts div div {
  max-width: 425px;
  margin: auto;
  height: 220px;
  background-color: #c4c4c469;
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile .posts div div:hover {
  background-blend-mode: saturation;
}

.profile .posts div .postName {
  font-size: calc(1rem + 0.5vw);
  padding: 5px;
  padding-top: 20px;
  height: fit-content;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  z-index: 0;
  position: relative;
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.profile .posts div div:hover .postName {
  visibility: visible;
  opacity: 1;
}

.postDescription {
  padding: 5px;
}

.editPost {
  margin: 5px;
}

.modal label {
  padding-block: 20px;
}

.modal .user-img {
  max-width: calc(5rem + 1vw);
  height: calc(5rem + 1vw);
  margin-right: 40px;
}

.month {
  width: 105px;
  height: 0;
  border-bottom: 20px solid #114b5f;
  border-top: 22px solid #114b5f;
  border-left: 15px solid transparent;
  margin-block: 20px;
  margin-left: -20px;
}

.month p {
  color: white;
  position: relative;
  text-align: center;
  right: -10px;
  top: -19px;
}
@media screen and (max-width: 768px) {
  .modal .user-img {
    width: calc(3rem + 1vw);
    height: calc(3rem + 1vw);
    margin-bottom: 40px;
  }
}
