@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Lato:wght@300;400;700&family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
    TYPOGRAFY 
  */

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
}

h4,
h5 {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.logo{
  font-family: 'Grand Hotel', cursive;
  font-size:  calc(3rem + 1.5vw)!important;
  font-weight: 400 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

a {
  color: black !important;
}

.fw {
  margin-inline: auto;
}

/*
    SCREEN SIZE
  */

.w-1200 {
  max-width: 1200px !important;
}
.w-410 {
  max-width: 410px !important;
}
.w-670 {
  max-width: 670px !important;
}

  /* 
    TYPOGRAFY 
  */
  h1 {
    font-size: calc(2rem + .7vw);
  }
  h2 {
    font-size: calc(1.3rem + .7vw);
  }
  h3 {
    font-size: calc(1rem + .7vw);
  }
  h4 {
    font-size: calc(0.8rem + .7vw);
  }

@media screen and (min-width: 767px) {
  input::placeholder {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
  }
  
}

@media screen and (max-width: 767px) {
 .fw {
  margin-inline: auto;
  padding-inline: 20px;
}
}

form input {
  height: 55px;
  padding: 10px;
  border: none;
  background: #fffefe;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input[type="submit"] {
  background: rgba(17, 75, 95, 0.72);
}
.col {
  max-width: fit-content !important;
}
